{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static '/css/jquery.datetimepicker.min.css' %}">
{% endblock head %}

{% block main %}
    index

    {# test #}
    {% for i in challenges_context %}
        <li>
            {{ i }}
        </li>
    {% endfor %}

    <br>
    {% for i in challenge_distinct %}
        <li>
        {{ i.challenge }}
        </li>
    {% endfor %}

    {{ challenge_list_chart }}
{% endblock main %}

{% block scripts %}
    <script src="{% static '/js/jquery.datetimepicker.full.min.js' %}"></script>
    <script>
        jQuery('#id_datetimepicker').datetimepicker({
            format: 'Y-m-d H:i',
            lang: 'en'
        });
    </script>
{% endblock scripts %}

