{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static '/css/jquery.datetimepicker.min.css' %}">
{% endblock head %}

{% block main %}
    <div class="container-fluid" id="challenges-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-page-header">
                    <h2>Challenges</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Update a challenge
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header card-header-menu">
                        Add a new challenge
                    </div>
                    <form action="" method="post">
                        <div class="card-body">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="id_datetimepicker">
                                    Datestamp
                                </label>
                                <div class="col-sm-6">

                                    <input autocomplete="off"
                                           class="form-control"
                                           id="id_datetimepicker"
                                           name="start_date"
                                           placeholder="2022-01-23"
                                           required
                                           type="text"
                                           value="{{ challenge_obj.start_date }} aa">
                                </div>
                            </div>

                            <div class="form-group row mt-3">
                                <label class="col-sm-4 col-form-label"
                                       for="id_challenge">
                                    Add weight
                                </label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="challenge" id="id_challenge" required>
                                        <option value="" selected="">Select a challenge</option>
                                        <option value="NO_ALCOHOL">No alcohol</option>
                                        <option value="NO_CHOCOLATE">No chocolate</option>
                                        <option value="NO_FAST_FOOD">No fast food</option>
                                        <option value="NO_SMOKING">No smoking</option>
                                        <option value="NO_SUGAR">No sugar</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-secondary" type="submit">
                                <i class="fa-solid fa-floppy-disk"></i>
                                <span class="p-2">Save changes</span>
                            </button>
                            <a class="float-end" href="{% url 'weight-index' %}">
                                Go back to the weight list
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {# test #}
    {% for i in challenge_list_chart %}
        {{ i }}
    {% endfor %}

    {{ challenge_list_chart }}
{% endblock main %}

{% block scripts %}
    <script src="{% static '/js/jquery.datetimepicker.full.min.js' %}"></script>
    <script>
        jQuery('#id_datetimepicker').datetimepicker({
            format: 'Y-m-d H:i',
            lang: 'en'
        });
    </script>
{% endblock scripts %}

