<div class="modal fade"
     id="modal-food-info"
     tabindex="-1"
     role="dialog"
     aria-labelledby="modal-food-info"
     aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span id="food-info">NA</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row">Id</th>
                        <td>
                            <span id="id-modalinfo">NA</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Food</th>
                        <td>
                            <span id="food-modalinfo">NA</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Qty</th>
                        <td>
                            <span>100 gm</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Calories</th>
                        <td>
                            <span id="calories-modalinfo">0</span>&nbsp;cal
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Protein</th>
                        <td>
                            <span id="protein-modalinfo">0</span>&nbsp;gm
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Fat</th>
                        <td>
                            <span id="fat-modalinfo">0</span>&nbsp;gm
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Carb</th>
                        <td>
                            <span id="carb-modalinfo">0</span>&nbsp;gm
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Sugar</th>
                        <td>
                            <span id="sugar-modalinfo">0</span>&nbsp;gm
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Fiber</th>
                        <td>
                            <span id="fiber-modalinfo">0</span>&nbsp;gm
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td>
                            <span id="description-modalinfo">NA</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>