{% load active_link_tags %}
{% load static %}

<!-- Top navigation LG-->
<nav class="navbar navbar-expand navbar-light mb-4" id="top-navigation-lg">
    <ul class="navbar-nav">
        <li class="nav-item d-none d-sm-inline-block">
            &nbsp;Welcome {{ user }}
        </li>
    </ul>
    <ul class="navbar-nav mx-auto">
        <li class="nav-item d-none d-sm-inline-block">
            <a href="{% url 'contact-us' %}" class="nav-link">Contact us</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="{% static 'docs/privacy_policy.html' %}" class="nav-link">Privacy policy</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="{% url 'export-my-data' %}" class="nav-link">Export my data</a>
        </li>
    </ul>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'goals-index' %}"
               data-toggle="tooltip" data-placement="left" title="My Goals">
                <i class="fa-solid fa-bars-progress" aria-expanded="false"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'history-index' %}"
               data-toggle="tooltip" data-placement="left" title="My History">
                <i class="fa-solid fa-clock-rotate-left" aria-expanded="false"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profile-index' %}"
               data-toggle="tooltip" data-placement="left" title="My Account">
                <i class="fa-solid fa-circle-user" aria-expanded="false"></i>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="{% url 'logout' %}">
                <i class="fa-solid fa-power-off" aria-expanded="false"></i>
            </a>
        </li>
        <!--<li class="nav-item dropdown">

            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-bell"></i>
                <span class="badge badge-warning navbar-badge">15</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-item dropdown-header">15 Notifications</span>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <i class="fas fa-envelope mr-2"></i> 4 new messages
                    <span class="float-right text-muted text-sm">3 mins</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <i class="fas fa-users mr-2"></i> 8 friend requests
                    <span class="float-right text-muted text-sm">12 hours</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <i class="fas fa-file mr-2"></i> 3 new reports
                    <span class="float-right text-muted text-sm">2 days</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
            </div>
        </li>-->
    </ul>
</nav>

<!-- Top Navigation SM-->
<nav class="navbar mb-4 shadow" id="top-navigation-sm">
    <div id="menu">
        <i class="fa-solid fa-bars"></i>
    </div>

    <div class="user-level">
        <a href="{% url 'leaderboards-index' %}"
           class="{% active_link 'leaderboards-index' 'active' %}">
            <i class="fa-solid fa-crown"></i>
        </a>
    </div>

    <div>
        <a href="{% url 'xps-index' %}"
           class="{% active_link 'xps-index' 'active' %}">
            <i class="fa-solid fa-bolt"></i>
        </a>
    </div>

    <div class="btn-group" id="menu-profile">
        <a href="#"
           class="{% active_link 'profile-index' 'active' %}{% active_link 'goals-index' 'active' %}{% active_link 'history-index' 'active' %}{% active_link 'password_change' 'active' %}"
           data-bs-toggle="dropdown">
            <i class="fa-solid fa-circle-user" aria-expanded="false"></i>
        </a>
        <ul class="dropdown-menu">
            <li class="dropdown-item">
                Welcome <b>{{ user.username }}</b>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'profile-index' %}">
                    <i class="fa-solid fa-address-card"></i>
                    <span class="px-1">My Profile</span>
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'goals-index' %}">
                    <i class="fa-solid fa-bars-progress"></i>
                    <span class="px-1">My Goals</span>
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'history-index' %}">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <span class="px-1">History</span>
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'password_change' %}">
                    <i class="fa-solid fa-key"></i>
                    <span class="px-1">Change Password</span>
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'contact-us' %}">
                    <i class="fa-solid fa-envelope"></i>
                    <span class="px-1">Contact us</span>
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'logout' %}">
                    <i class="fa-solid fa-power-off"></i>
                    <span class="px-1">Logout</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<!-- Top Navigation ends-->