<div class="modal fade modal-info" id="leaderboards-modal" tabindex="-1"
     aria-labelledby="leaderboards-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    What is this?
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                The Gesund leaderboard visualizes users' data and ranks you according to your earned experience
                points (XPs).
            </div>
        </div>
    </div>
</div>