{% extends 'base.html' %}

{% block main %}
    <div class="container-fluid steps-container-delete" id="steps-container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <form method="POST">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-header card-header-menu bg-danger">
                            <h6>Are you sure you want to delete the following record?</h6>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Datestamp</th>
                                    <th>Steps</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ steps_obj.id }}</td>
                                    <td>{{ steps_obj.datestamp|date:'Y-m-d' }}</td>
                                    <td>{{ steps_obj.step_count }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="float-end">
                                <a href="{% url 'steps-index' %}" class="btn btn-secondary">
                                    <i class="fa-solid fa-angle-left"></i>
                                    <span class="p-2">No, take me back</span>
                                </a>
                                <button type="submit" class="btn btn-danger">
                                    <i class="fa-solid fa-trash-can"></i>
                                    <span class="p-2">Yes. Delete it!</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock main %}