{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div class="container-fluid" id="about-container">
        <div class="row">
            <div class="col">
                <h1>About Gesund App</h1>
                <p>
                    This project is carried out as master thesis at university of koblenz-landau.
                </p>
                <p>
                    <a href="{% url 'contact-us' %}">Contact us if you have any questions.</a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>
                    <a href="{% static 'docs/privacy_policy.html' %}">Privacy policy</a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>
                    <a href="{% static 'docs/disclaimer.html' %}">Disclaimer</a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>
                    <a href="{% static 'docs/license.html' %}">License</a>
                </p>
            </div>
        </div>
    </div>
{% endblock main %}