{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div class="container-fluid" id="about-container">
        <div class="row">
            <div class="col">
                <h1>About the Gesund App</h1>
                <p>
                    This project is part of a master's thesis at the <a href="https://www.uni-koblenz-landau.de/en">University
                    of Koblenz-Landau</a>.
                </p>
                <p>
                    Useful links:
                </p>
                <ul>
                    <li>
                        <a href="https://github.com/asis2016">Author</a>
                    </li>
                    <li>
                        <a href="{% static 'docs/quick_start_guide.pdf' %}">Quick start guide</a>
                    </li>
                    <li>
                        <a href="{% url 'contact-us' %}">Contact us</a>
                    </li>
                    <li>
                        <a href="{% static 'docs/privacy_policy.html' %}">Privacy policy</a>
                    </li>
                    <li>
                        <a href="{% static 'docs/disclaimer.html' %}">Disclaimer</a>
                    </li>
                    <li>
                        <a href="{% static 'docs/license.html' %}">Project license</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock main %}