{% load static %}
<div class="row mt-5 row-challenge d-none" id="dashboard-challenge">
    <div class="col-lg-12 mb-2">
        <h4>Challenges</h4>
    </div>
    <!--challenge-chocolate-->
    <div class="col-lg-2">
        <div class="card">
            <div class="card-body">
                <img src="{% static '/images/chocolate.png' %}" alt="">
            </div>
            <div class="card-footer bg-white">
                <h6>No Chocolate</h6>
                <p>
                    Start challenge
                </p>
            </div>
        </div>
    </div>

    <!--challenge-chocolate-->
    <div class="col-lg-2">
        <div class="card ">
            <div class="card-body">
                <img src="{% static '/images/sugar-cube.png' %}" alt="">
            </div>
            <div class="card-footer bg-white">
                <h6>No Sugar</h6>
                <p>
                    Start Challenge
                </p>
            </div>
        </div>
    </div>

    <!--challenge-chocolate-->
    <div class="col-lg-2">
        <div class="card ">
            <div class="card-body">
                <img src="{% static '/images/burger.png' %}" alt="">
            </div>
            <div class="card-footer bg-white">
                <h6>No Fast food</h6>
                <p>Start Challenge</p>
            </div>
        </div>
    </div>

    <!--challenge-chocolate-->
    <div class="col-lg-2">
        <div class="card ">
            <div class="card-body bg-secondary">
                <img src="{% static '/images/smoking.png' %}" alt="">
            </div>
            <div class="card-footer bg-white">
                <h6>No Cigarettes <span class="badge bg-secondary">Stats</span></h6>
                <p class="text-success">
                    Challenge activated!
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="card -smoking">
            <div class="card-body">
                <img src="{% static '/images/beer.png' %}" alt="">
            </div>
            <div class="card-footer bg-white">
                <h6>No Alcohol</h6>
                <p>Challenge activated</p>
            </div>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="card -smoking">
            <div class="card-body">
                <img src="{% static '/images/beer.png' %}" alt="">
            </div>
            <div class="card-footer bg-white">
                <h6>No Binge Watching</h6>
                <p>
                    Challenge activated
                </p>
            </div>
        </div>
    </div>
</div>