{% load static %}
<div class="card">
    <div class="card-header card-header-menu">
        <h6>Daily goals</h6>
        <div class="d-flex">
            <span class="minimize">
                <a href="#"
                   data-bs-target="#daily_goals_card_content"
                   data-bs-toggle="collapse">
                    <i class="fa-solid fa-circle-minus"></i>
                </a>
            </span>
        </div>
    </div>
    <!-- daily_goals_card_content -->
    <div class="collapse show" id="daily_goals_card_content">
        <div class="card-body collapse show">
            {% if daily_goals %}
                {% for i in daily_goals %}
                    <div class="pb-3">
                        <p class="d-flex justify-content-between align-items-center">
                            {{ i.2 }} <i style="font-size:0.8rem;">{{ i.0 }}%</i>
                        </p>
                        <div>
                            <div class="progress">
                                <div class="progress-bar bg-{{ i.1 }}"
                                     role="progressbar"
                                     style="width: {{ i.0 }}%;">
                                </div>
                            </div>

                        </div>

                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-warning" role="alert">
                    <p class="mb-0">
                        No records found. Start following your goals.
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- ends daily_goals_card_content -->
</div>