{% load static %}
<div class="card">
    <div class="card-header card-header-menu">
        <h6>Daily goals</h6>
        <div class="d-flex">
            <span class="minimize">
                <a href="#"
                   data-bs-target="#daily_goals_card_content"
                   data-bs-toggle="collapse">
                    <i class="fa-solid fa-circle-minus"></i>
                </a>
            </span>
        </div>
    </div>
    <!-- daily_goals_card_content -->
    <div class="collapse show" id="daily_goals_card_content">
        <div class="card-body collapse show">

            {% if daily_goals_food_intake %}
                <div class="calories-daily-goal">
                    <svg class="progress-ring" width="150" height="150">
                        <circle class="progress-circle"
                                stroke="#cecece "
                                stroke-width="5"
                                fill="#f4f6f9"
                                r="52"
                                cx="75"
                                cy="75"/>
                    </svg>
                    <img src="{% static 'images/apple.png' %}" height="50px" width="50px" alt="apple">
                </div>

                {% with cal=daily_goals_food_intake.0.0 %}
                    {% if cal > 100 %}
                        <p class="text-center text-danger">
                            <i> Food overate: {{ cal }}% </i>
                        </p>
                    {% else %}
                        <p class="text-center">
                            <i> Food ate: {{ cal }}% </i>
                        </p>
                    {% endif %}

                {% endwith %}
                <hr>
            {% endif %}

            {% if daily_goals %}
                {% for i in daily_goals %}
                    <div class="pb-3">
                        <p class="d-flex justify-content-between align-items-center">
                            {{ i.2 }} <i style="font-size:0.8rem;">{{ i.0 }}%</i>
                        </p>
                        <div>
                            <div class="progress">
                                <div class="progress-bar bg-{{ i.1 }}"
                                     role="progressbar"
                                     style="width: {{ i.0 }}%;">
                                </div>
                            </div>

                        </div>

                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-warning" role="alert">
                    <p class="mb-0">
                        No records found. Start following your goals.
                    </p>
                </div>
            {% endif %}

        </div>
    </div>
    <!-- ends daily_goals_card_content -->
</div>