<div class="card">
    <div class="card-header card-header-menu">
        <h6>Pomodoro</h6>
        <div class="d-flex">
            <span class="minimize">
                <a href="#pomodoro_card_content" role="button" data-bs-toggle="collapse"
                   data-bs-target="#pomodoro_card_content"
                   aria-expanded="false" aria-controls="pomodoro_card_content">
                    <i class="fa-solid fa-circle-minus"></i>
                </a>
            </span>
            <div class="dropdown">
                <a href="#"
                   role="button"
                   id="dropdown_pomodoro_menu"
                   aria-expanded="false"
                   data-bs-toggle="dropdown"
                   class="text-white">
                    <i class="fa-solid fa-circle-chevron-down"></i>
                </a>
                <ul aria-labelledby="dropdown_pomodoro_menu"
                    class="dropdown-menu">
                    <li class="d-flex">
                        <a class="dropdown-item" href="{% url 'add-pomodoro' %}">
                            <i class="fa-solid fa-circle-plus"></i>
                            <span class="p-2">Add new</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="collapse show" id="pomodoro_card_content">
        <div class="card-body collapse show">
            <!-- chart -->
            <div class="sparkline-dashboard sparkline-pomodoro"></div>

            {% if pomodoro_list %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>pomodoro</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in pomodoro_list %}
                        {% if forloop.counter <= 3 %}
                            <tr>
                                <td>
                                    {{ i.datestamp|date:"Y-m-d" }}
                                </td>
                                <td>
                                    {{ i.total_pomodoro }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    <p class="mb-0">
                        No records found. Start adding pomodoros.
                    </p>
                </div>
            {% endif %}
        </div>

        {% if pomodoro_list %}
            <div class="card-footer">
                <div class="float-end">
                    <a href="{% url 'pomodoro-index' %}">View all</a>
                </div>
            </div>
        {% endif %}
    </div>
</div>