<div class="row" id="quick-stats">
    <div class="col-12 mb-2">
        <h4>Quick stats</h4>
    </div>
    <div class="col-3">
        <div class="card-info border-0">
            <div>
                <h3>150</h3>
                <p>
                    Lorem ipsum bla bla
                </p>
            </div>
            <i class="fa-solid fa-coins"></i>
        </div>
    </div>
    <div class="col-3">
        <div class="card-info border-0">
            <div>
                <h3>150</h3>
                <p>
                    Lorem ipsum bla bla
                </p>
            </div>
            <i class="fa-solid fa-coins"></i>
        </div>
    </div>
    <div class="col-3">
        <div class="card-info border-0">
            <div>
                <h3>150</h3>
                <p>
                    Lorem ipsum bla bla
                </p>
            </div>
            <i class="fa-solid fa-coins"></i>
        </div>
    </div>
    <div class="col-3">
        <div class="card-info border-0">
            <div>
                <h3>150</h3>
                <p>
                    Lorem ipsum bla bla
                </p>
            </div>
            <i class="fa-solid fa-coins"></i>
        </div>
    </div>
</div>