<div class="card">
    <div class="card-header card-header-menu">
        <h6>Steps</h6>
        <div class="d-flex">
            <span class="minimize">
                <a href="#steps_card_content" role="button" data-bs-toggle="collapse"
                   data-bs-target="#steps_card_content"
                   aria-expanded="false" aria-controls="steps_card_content">
                    <i class="fa-solid fa-circle-minus"></i>
                </a>
            </span>
            <div class="dropdown">
                <a href="#"
                   role="button"
                   id="dropdown_steps_menu"
                   aria-expanded="false"
                   data-bs-toggle="dropdown"
                   class="text-white">
                    <i class="fa-solid fa-circle-chevron-down"></i>
                </a>
                <ul aria-labelledby="dropdown_steps_menu"
                    class="dropdown-menu">
                    <li class="d-flex">
                        <a class="dropdown-item"
                           href="{% url 'add-steps' %}">
                            <i class="fa-solid fa-circle-plus"></i>
                            <span class="p-2">Add new</span>
                        </a>
                    </li>
                    {% if steps_list %}
                        <!--<li>
                            <a class="dropdown-item" href="#">
                                <i class="fa-solid fa-cloud-arrow-down"></i>
                                <span class="px-2">Export records</span>
                            </a>
                        </li>-->
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <!-- steps_card_content -->
    <div class="collapse show" id="steps_card_content">
        <div class="card-body collapse show">
            {% if steps_list %}
                <div class="chart-container">
                    <canvas id="mySteps" height="200px"></canvas>
                </div>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    <p class="mb-0">
                        No records found. Start tracking your steps.
                    </p>
                </div>
            {% endif %}
        </div>
        {% if steps_list %}
            <div class="card-footer">
                <div class="float-end">
                    <a href="{% url 'steps-index' %}">View all</a>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- ends steps_card_content -->
</div>

{% block scripts %}
    {% if steps_list %}
        <script>
            const mySteps = new Chart(
                document.getElementById('mySteps'),
                {
                    type: 'line',
                    data: {
                        labels: [{% for i in steps_list %}'{{ i.datestamp|date:"Y-m-d" }}', {% endfor %}],
                        datasets: [
                            {
                                data: [{% for i in steps_list %}{{ i.step_count }}, {% endfor %}],
                                //data: [8000, 250, 7200]
                                label: '',
                                backgroundColor: '#dd7e77',
                                borderColor: '#f06270',
                                pointRadius: 0,
                                borderWidth: 1.5,
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        tooltips: {
                            enabled: false,
                            display: false,
                        },
                        plugins: {
                            legend: {
                                display: false,
                            },
                            title: {
                                display: false,
                            }
                        },
                        scales: {
                            x: {
                                ticks: {
                                    display: false
                                }
                            }
                        },
                    }
                }
            );
        </script>
    {% endif %}
{% endblock scripts %}
