<div class="card">
    <div class="card-header card-header-menu">
        <h6>Steps</h6>
        <div class="d-flex">
            <span class="minimize">
                <a href="#steps_card_content" role="button" data-bs-toggle="collapse"
                   data-bs-target="#steps_card_content"
                   aria-expanded="false" aria-controls="steps_card_content">
                    <i class="fa-solid fa-circle-minus"></i>
                </a>
            </span>
            <div class="dropdown">
                <a href="#"
                   role="button"
                   id="dropdown_steps_menu"
                   aria-expanded="false"
                   data-bs-toggle="dropdown"
                   class="text-white">
                    <i class="fa-solid fa-circle-chevron-down"></i>
                </a>
                <ul aria-labelledby="dropdown_steps_menu"
                    class="dropdown-menu">
                    <li class="d-flex">
                        <a class="dropdown-item" href="{% url 'add-steps' %}">
                            <i class="fa-solid fa-circle-plus"></i>
                            <span class="p-2">Add new</span>
                        </a>
                    </li>
                    {% if steps_list %}
                        <!--<li>
                            <a class="dropdown-item" href="#">
                                <i class="fa-solid fa-cloud-arrow-down"></i>
                                <span class="px-2">Export records</span>
                            </a>
                        </li>-->
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <!-- steps_card_content -->
    <div class="collapse show" id="steps_card_content">
        <div class="card-body collapse show">
            <!-- chart -->
            <div class="sparkline-dashboard sparkline-steps"></div>

            {% if steps_list %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>steps</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for steps in steps_list %}
                        {% if forloop.counter <= 3 %}
                            <tr>
                                <td>
                                    {{ steps.datestamp|date:"Y-m-d" }}
                                </td>
                                <td>
                                    {{ steps.step_count }}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div class="alert alert-warning" role="alert">
                    <p class="mb-0">
                        No records found. Start tracking your steps.
                    </p>
                </div>
            {% endif %}
        </div>
        {% if steps_list %}
            <div class="card-footer">
                <div class="float-end">
                    <a href="{% url 'steps-index' %}">View all</a>
                </div>
            </div>
        {% endif %}
    </div>
    <!-- ends steps_card_content -->
</div>