{% extends 'base-login.html' %}
{% load static %}

{% block title %}
    Password reset message
{% endblock title %}

{% block body %}
    <body id="password-reset-done">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>Password reset sent</h1>
                <p>
                    We’ve emailed you instructions for setting your password, if an account exists with the email you
                    entered. You should receive them shortly.
                </p>
                <p>
                    If you don’t receive an email, please make sure you’ve entered the address you registered with, and
                    check your spam folder.
                </p>
                <p>
                    <a class="mt-2"
                       href="{% url 'login' %}">Go back to login</a>
                </p>
                </form>
            </div>
        </div>
    </div>
    </body>
{% endblock body %}