{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div class="container-fluid" id="change-password-done-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-page-header">
                    <h2>Password change successful</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 mt-4">
                <div class="card">
                    <div class="card-body">
                        Your password was changed.
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock main %}