{% extends 'base-login.html' %}
{% load static %}

{% block title %}
    Enter new password
{% endblock title %}

{% block main %}
    <div class="container" id="container-password-reset">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                {% if validlink %}
                    <h1>Set a new password!</h1>
                    <form method="POST">
                        {% csrf_token %}
                        <!-- new_password1 -->
                        <div class="form-group">
                            <label for="id_new_password1">New password</label>
                            <input class="form-control mt-2"
                                   type="password"
                                   name="new_password1"
                                   autocomplete="new-password"
                                   required
                                   autofocus
                                   id="id_new_password1">
                        </div>
                        <!-- password-guidelines -->
                        <div class="form-group mt-3">
                            <ul>
                                <li>
                                    Your password can’t be too similar to your other personal information.
                                </li>
                                <li>
                                    Your password must contain at least 8 characters.
                                </li>
                                <li>
                                    Your password can’t be a commonly used password.
                                </li>
                                <li>
                                    Your password can’t be entirely numeric.
                                </li>
                            </ul>
                        </div>
                        <!-- new_password2 -->
                        <div class="form-group mt-3">
                            <label for="id_new_password2">New password confirmation</label>
                            <input class="form-control mt-2"
                                   type="password"
                                   name="new_password2"
                                   autocomplete="new-password"
                                   id="id_new_password2">
                        </div>

                        <button class="mt-4 btn btn-primary btn-block" type="submit">
                            Change my password
                        </button>
                    </form>
                {% else %}
                    <p>
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock main %}