{% extends 'base.html' %}

{# todo: refactor #}
{% block main %}
    <div class="container-fluid" id="about-container">
        <h1>References</h1>
        <ol>
            <li>one</li>
            <li>apple</li>
            <li>two</li>
            <li>
                Setiawan, S. S., & Suryadibrata, A. (2019). Fitrust: Promoting healthy lifestyle through gamified mobile
                health application. Proceedings of 2019 5th International Conference on New Media Studies, CONMEDIA
                2019, 26–30. https://doi.org/10.1109/CONMEDIA46929.2019.8981840
            </li>
            <li>Zebra</li>
        </ol>
    </div>
{% endblock main %}