/* change-password-container -------------------------------------------------------------------------- */
@media screen and (max-width: 767px) {
  #change-password-container {
    .row:first-child {
      .col-page-header {
        nav {
          display: none;
        }
      }
    }

    .row:nth-child(2) {
      .col-lg-8 {
        margin-top: .5rem !important;

        .card-body {
          .alert {
            margin: 1rem;
          }
        }

        .card-footer {
          .btn-success {
            width: 100%;
          }

          .btn-secondary {
            margin-top: .5rem;
            width: 100%;
          }

          .go-back-lg {
            display: none;
          }
        }
      }
    }
  }
}