/* steps-container -------------------------------------------------------------------------- */
@media screen and (max-width: 767px) {
  #steps-container {
    // .row-first
    .row-first {
      nav {
        display: none;
      }
    }

    // .row-second
    .row-second {
      .col-first {
        margin-top: .5rem !important;

        .card {
          .card-header-menu {
            justify-content: normal !important;
            background: none;

            .btn {
              width: 100%;
            }
          }

          .card-body {
            padding: 0.1rem;

            // .table
            .table {
              th:first-child, td:first-child {
                display: none;
              }

              tbody {
                td:nth-child(3) span {
                  display: none;
                }

                td:nth-child(4) {
                  span {
                    display: none;
                  }

                  a {
                    padding: 0.2rem 0.4rem;
                  }
                }
              }
            }

            .alert {
              margin: 1rem;
            }
          }
        }
      }

      .col-second {
        margin-top: 1rem !important;
      }
    }

    // .row-third
    .row-third {
      margin-top: 1rem !important;
    }
  }

  // add.html
  .steps-container-add, .steps-container-update {
    .row-second {
      .col-lg-6 {
        margin-top: .5rem !important;

        .card {
          .card-footer {
            a, .btn {
              width: 100%;
            }

            .go-back-lg {
              display: none;
            }

            .go-back-sm {
              margin-top: .5rem;
            }
          }
        }
      }
    }
  }

  // delete.html
  .steps-container-delete {
    .card-footer {
      a, button {
        width: 100%;
      }

      button {
        margin-top: .5rem;
      }
    }
  }

}