/* style.scss -------------------------------------------------------------------------- */
html {
  height: -webkit-fill-available;
}

body {
  min-height: -webkit-fill-available;
  font-family: 'Baloo Da 2';
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: -webkit-fill-available;
  overflow-x: auto;
  overflow-y: hidden;

  .main-wrapper {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background-color: $whitish;
  }

  .col-page-header {
    display: flex;
    justify-content: space-between;
  }

  .card-header-menu {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $light_grey;
    color: #ffffff;

    h6 {
      margin-bottom: 0px;
    }

    .minimize {
      align-items: center;
      vertical-align: middle;
      display: flex;
      padding-right: 8px;

      a {
        color: #fff;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .data-table-list tbody tr td {
    vertical-align: middle !important;
  }
}

.dropdown-toggle {
  outline: 0;
}

.scrollarea {
  overflow-y: auto;
}

/* #main-toast -------------------------------------- */
#main-toast {
  position: fixed;
  z-index: 9999;
  bottom: 5px;
  right: 5px;

  .toast {
    max-width: 280px;
    border: 0;
  }

  .toast-body {
    font-size: 1.1rem;
    color: #fff;
  }

}

/* @media screen and (max-width: 767px) -------------------------------------- */
@media screen and (max-width: 767px) {
  #ui-datepicker-div {
    font-size: 12px;
  }

  .btn-secondary.disabled:hover {
    cursor: crosshair;
  }
}

/* @media screen and (min-width: 768px) -------------------------------------- */
@media screen and (min-width: 768px) {
  .go-back-sm {
    display: none;
  }

  #sidebar-sm {
    display: none !important;
  }

  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}



