{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div class="container-fluid water-container-add" id="water-container">
        <!-- .row-first -->
        <div class="row row-first">
            <div class="col-lg-12">
                <div class="col-page-header">
                    <h2>Water intake</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'dashboard' %}">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'water-index' %}">Water</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Add water intake
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- ends .row-first -->

        <!-- .row-second -->
        <div class="row row-second">
            <div class="col-lg-6 mt-4">
                <div class="card">
                    <div class="card-header card-header-menu">
                        Add your water intake
                    </div>
                    <form action="" method="post">
                        <div class="card-body">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    {{ form.errors }}
                                </div>
                            {% endif %}
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="id_datestamp">
                                    Datestamp
                                </label>
                                <div class="col-sm-6">
                                    <input autocomplete="off"
                                           class="form-control"
                                           id="id_datestamp"
                                           name="datestamp"
                                           placeholder="2022-01-23"
                                           required
                                           type="text">
                                </div>
                            </div>

                            <div class="form-group row mt-3">
                                <label class="col-sm-4 col-form-label"
                                       for="id_drink_progress">
                                    Drinking progress
                                </label>
                                <div class="col-sm-6">
                                    <input autocomplete="off"
                                           class="form-control"
                                           id="id_drink_progress"
                                           name="drink_progress"
                                           placeholder="1.0"
                                           required
                                           step="any"
                                           type="number">
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-success" type="submit">
                                <i class="fa-solid fa-floppy-disk"></i>
                                <span class="p-2">Save changes</span>
                            </button>
                            <!-- go back -->
                            <a class="float-end go-back-to-list go-back-lg"
                               href="{% url 'water-index' %}">
                                Go back to the list
                            </a>
                            <a class="btn btn-secondary go-back-sm"
                               href="{% url 'water-index' %}">
                                <i class="fa-solid fa-angle-left"></i>
                                <span class="p-2">Go back</span>
                            </a>
                            <!-- go back ends -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block scripts %}
    <script type="text/javascript">
        $("#id_datestamp").val(get_today);
        $("#id_drink_progress").focus();
    </script>
{% endblock scripts %}
