/*
    Author      : Ashish S. Maharjan
    Author URI  : https://github.com/asis2016/
    Description : This theme is designed for Gesund App.
*/

@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500&display=swap');

$logo_color: #dd7e77;
$dark_grey: #363D47;
$light_grey: #6c757d;
$grey_500: #9e9e9e;