/* goals-container -------------------------------------------------------------------------- */
@media screen and (max-width: 767px) {
  #goals-container {
    // .row-first
    .row-first {
      nav {
        display: none;
      }
    }
  }

  .goals-container-index {
    .btn {
      width: 100% !important;
    }
  }

  .goals-container-update {
    .row-second {
      .col-lg-6 {
        margin-top: .5rem !important;

        .btn {
          width: 100% !important;
        }
      }
    }
  }
}