/*
    Author      : Ashish S. Maharjan
    Author URI  : https://github.com/asis2016/
    Description : This theme is designed for Gesund App.
*/
/*
    Author      : Ashish S. Maharjan
    Author URI  : https://github.com/asis2016/
    Description : This theme is designed for Gesund App.
*/
/*
    Author      : Ashish S. Maharjan
    Author URI  : https://github.com/asis2016/
    Description : This theme is designed for Gesund App.
*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500&display=swap");
@media screen and (max-width: 767px) {
  /* calories-container -------------------------------------------------------------------------- */
  #calories-container .row:first-child .col-page-header nav {
    display: none;
  }
  #calories-container .row:nth-child(2) .col-lg-8 {
    margin-top: 0.5rem !important;
  }
  #calories-container .row:nth-child(2) .col-lg-8 .card-header-menu {
    justify-content: normal !important;
    background: none;
  }
  #calories-container .row:nth-child(2) .col-lg-8 .card-header-menu .btn {
    width: 100%;
  }
  #calories-container .row:nth-child(2) .col-lg-8 .card-body {
    padding: 0.1rem;
  }
  #calories-container .row:nth-child(2) .col-lg-8 .card-body .table th:first-child, #calories-container .row:nth-child(2) .col-lg-8 .card-body .table td:first-child {
    display: none;
  }
  #calories-container .row:nth-child(2) .col-lg-8 .card-body .table tbody td:nth-child(3) span {
    display: none;
  }
  #calories-container .row:nth-child(2) .col-lg-8 .card-body .table tbody td:nth-child(4) span {
    display: none;
  }
  #calories-container .row:nth-child(2) .col-lg-8 .card-body .table tbody td:nth-child(4) a {
    padding: 0.2rem 0.4rem;
  }
  #calories-container .row:nth-child(2) .col-lg-8 .card-body .alert {
    margin: 1rem;
  }
  #calories-container .row:nth-child(2) .col-lg-8 .card-body .list-group {
    overflow: hidden;
  }
  #calories-container .row:nth-child(2) .col-lg-8 .row:nth-child(2) .col-lg-4 {
    margin-top: 1.5rem;
  }
  #calories-container .row:nth-child(2) .col-lg-8 .row:nth-child(3) {
    margin-top: 1.5rem !important;
  }
  #calories-container.calories-container-add .row:nth-child(2) .col-lg-6, #calories-container.calories-container-update .row:nth-child(2) .col-lg-6 {
    margin-top: 0.5rem !important;
  }
  #calories-container.calories-container-add .card-footer a, #calories-container.calories-container-add .card-footer .btn, #calories-container.calories-container-update .card-footer a, #calories-container.calories-container-update .card-footer .btn {
    width: 100%;
  }
  #calories-container.calories-container-add .card-footer .go-back-lg, #calories-container.calories-container-update .card-footer .go-back-lg {
    display: none;
  }
  #calories-container.calories-container-add .card-footer .go-back-sm, #calories-container.calories-container-update .card-footer .go-back-sm {
    margin-top: 0.5rem;
  }
  #calories-container.calories-container-add #food-modal i, #calories-container.calories-container-update #food-modal i {
    position: absolute;
    right: -7px;
    font-size: 2.2rem;
    color: red;
    top: -7px;
  }
  #calories-container.calories-container-add #food-modal i:hover, #calories-container.calories-container-update #food-modal i:hover {
    cursor: pointer;
  }
  #calories-container.calories-container-add #modal-food-search .modal-body, #calories-container.calories-container-update #modal-food-search .modal-body {
    padding: 0;
  }
  #calories-container.calories-container-add #modal-food-search .modal-close, #calories-container.calories-container-update #modal-food-search .modal-close {
    position: absolute;
    z-index: 999;
    right: -7px;
    top: -12px;
    color: red;
    font-size: 2rem;
  }
  #calories-container.steps-container-delete .card-footer a, #calories-container.steps-container-delete .card-footer button {
    width: 100%;
  }
  #calories-container.steps-container-delete .card-footer button {
    margin-top: 0.5rem;
  }

  /* change-password-container -------------------------------------------------------------------------- */
  #change-password-container .row:first-child .col-page-header nav {
    display: none;
  }
  #change-password-container .row:nth-child(2) .col-lg-8 {
    margin-top: 0.5rem !important;
  }
  #change-password-container .row:nth-child(2) .col-lg-8 .card-body .alert {
    margin: 1rem;
  }
  #change-password-container .row:nth-child(2) .col-lg-8 .card-footer .btn-success {
    width: 100%;
  }
  #change-password-container .row:nth-child(2) .col-lg-8 .card-footer .btn-secondary {
    margin-top: 0.5rem;
    width: 100%;
  }
  #change-password-container .row:nth-child(2) .col-lg-8 .card-footer .go-back-lg {
    display: none;
  }

  /* change-password-done-container -------------------------------------------------------------------------- */
  #change-password-done-container .row:first-child .col-page-header nav {
    display: none;
  }
  #change-password-done-container .row:nth-child(2) .col-lg-8 {
    margin-top: 0.5rem !important;
  }

  /* dashboard-container -------------------------------------------------------------------------- */
  #dashboard-container .alert-warning {
    margin-bottom: 0;
  }
  #dashboard-container #dashboard-daily-goals {
    margin-top: 0 !important;
  }
  #dashboard-container #dashboard-daily-goals p {
    margin-bottom: 0.4rem !important;
  }
  #dashboard-container #dashboard-daily-goals .card-header-menu .minimize {
    padding-right: 0;
  }
  #dashboard-container #dashboard-history .card-body {
    padding: 0;
  }
  #dashboard-container #dashboard-history .card-body .table {
    margin-bottom: 0;
  }
  #dashboard-container #dashboard-steps .card-body {
    padding: 0;
  }
  #dashboard-container #dashboard-steps .card-body .alert {
    margin: 1rem;
  }
  #dashboard-container #dashboard-water .card-body {
    padding: 0;
  }
  #dashboard-container #dashboard-water .card-body .alert {
    margin: 1rem;
  }
  #dashboard-container #dashboard-water .card-body .table {
    margin-bottom: 0;
  }

  #quick-stats {
    display: none;
  }

  #dashboard-challenge {
    display: none;
  }

  #dashboard-daily-goals,
#dashboard-bmi,
#dashboard-calories,
#dashboard-water,
#dashboard-steps,
#dashboard-pomodoro,
#dashboard-history {
    margin-top: 1.5rem !important;
  }

  /* calories-container -------------------------------------------------------------------------- */
  #calories-container .row:first-child .col-page-header nav {
    display: none;
  }
  #calories-container .row:nth-child(2) .col-lg-8 {
    margin-top: 0.5rem !important;
  }
  #calories-container .row:nth-child(2) .col-lg-8 .card-header-menu {
    justify-content: normal !important;
    background: none;
  }
  #calories-container .row:nth-child(2) .col-lg-8 .card-header-menu .btn {
    width: 100%;
  }
  #calories-container .row:nth-child(2) .col-lg-8 .card-body {
    padding: 0.1rem;
  }
  #calories-container .row:nth-child(2) .col-lg-8 .card-body .table th:first-child, #calories-container .row:nth-child(2) .col-lg-8 .card-body .table td:first-child {
    display: none;
  }
  #calories-container .row:nth-child(2) .col-lg-8 .card-body .table tbody td:nth-child(3) span {
    display: none;
  }
  #calories-container .row:nth-child(2) .col-lg-8 .card-body .table tbody td:nth-child(4) span {
    display: none;
  }
  #calories-container .row:nth-child(2) .col-lg-8 .card-body .table tbody td:nth-child(4) a {
    padding: 0.2rem 0.4rem;
  }
  #calories-container .row:nth-child(2) .col-lg-8 .card-body .alert {
    margin: 1rem;
  }
  #calories-container .row:nth-child(2) .col-lg-8 .row:nth-child(2) .col-lg-4 {
    margin-top: 1.5rem;
  }
  #calories-container .row:nth-child(2) .col-lg-8 .row:nth-child(3) {
    margin-top: 1.5rem !important;
  }
  #calories-container.steps-container-add .row:nth-child(2) .col-lg-6, #calories-container.steps-container-update .row:nth-child(2) .col-lg-6 {
    margin-top: 0.5rem !important;
  }
  #calories-container.steps-container-add .card-footer a, #calories-container.steps-container-add .card-footer .btn, #calories-container.steps-container-update .card-footer a, #calories-container.steps-container-update .card-footer .btn {
    width: 100%;
  }
  #calories-container.steps-container-add .card-footer .go-back-lg, #calories-container.steps-container-update .card-footer .go-back-lg {
    display: none;
  }
  #calories-container.steps-container-add .card-footer .go-back-sm, #calories-container.steps-container-update .card-footer .go-back-sm {
    margin-top: 0.5rem;
  }
  #calories-container.calories-container-delete .card-footer a, #calories-container.calories-container-delete .card-footer button {
    width: 100%;
  }
  #calories-container.calories-container-delete .card-footer button {
    margin-top: 0.5rem;
  }

  /* calories-container-datestamp-collection -------------------------------------------------------------------------- */
  #calories-container-datestamp-collection .row:first-child .col-page-header nav {
    display: none;
  }
  #calories-container-datestamp-collection .row:nth-child(2) .col-lg-8 {
    margin-top: 0.5rem !important;
  }
  #calories-container-datestamp-collection .row:nth-child(2) .col-lg-8 .card-header-menu {
    justify-content: normal !important;
    background: none;
  }
  #calories-container-datestamp-collection .row:nth-child(2) .col-lg-8 .card-header-menu .btn {
    width: 100%;
  }
  #calories-container-datestamp-collection .row:nth-child(2) .col-lg-8 .card-body {
    padding: 0.1rem;
  }
  #calories-container-datestamp-collection .row:nth-child(2) .col-lg-8 .card-body .alert {
    margin: 1rem;
  }
  #calories-container-datestamp-collection .row:nth-child(2) .col-lg-8 .row:nth-child(2) .col-lg-4 {
    margin-top: 1.5rem;
  }
  #calories-container-datestamp-collection .row:nth-child(2) .col-lg-8 .row:nth-child(3) {
    margin-top: 1.5rem !important;
  }
  #calories-container-datestamp-collection.steps-container-add .row:nth-child(2) .col-lg-6, #calories-container-datestamp-collection.steps-container-update .row:nth-child(2) .col-lg-6 {
    margin-top: 0.5rem !important;
  }
  #calories-container-datestamp-collection.steps-container-add .card-footer a, #calories-container-datestamp-collection.steps-container-add .card-footer .btn, #calories-container-datestamp-collection.steps-container-update .card-footer a, #calories-container-datestamp-collection.steps-container-update .card-footer .btn {
    width: 100%;
  }
  #calories-container-datestamp-collection.steps-container-add .card-footer .go-back-lg, #calories-container-datestamp-collection.steps-container-update .card-footer .go-back-lg {
    display: none;
  }
  #calories-container-datestamp-collection.steps-container-add .card-footer .go-back-sm, #calories-container-datestamp-collection.steps-container-update .card-footer .go-back-sm {
    margin-top: 0.5rem;
  }
  #calories-container-datestamp-collection.steps-container-delete .card-footer a, #calories-container-datestamp-collection.steps-container-delete .card-footer button {
    width: 100%;
  }
  #calories-container-datestamp-collection.steps-container-delete .card-footer button {
    margin-top: 0.5rem;
  }

  /* history-container -------------------------------------------------------------------------- */
  #history-container nav {
    display: none;
  }

  /* goals-container -------------------------------------------------------------------------- */
  #goals-container nav {
    display: none;
  }
  #goals-container.goals-container-index .btn {
    width: 100% !important;
  }
  #goals-container.goals-container-index .btn {
    width: 100% !important;
  }

  /* leaderboards-container -------------------------------------------------------------------------- */
  #leaderboards-container .row:first-child .col-page-header nav {
    display: none;
  }
  #leaderboards-container .row:nth-child(2) .col-lg-8 {
    margin-top: 0.5rem !important;
  }
  #leaderboards-container .row:nth-child(2) .col-lg-8 .card-body {
    padding: 0.2rem;
    overflow: scroll;
  }
  #leaderboards-container .row:nth-child(2) .col-lg-8 .card-body th {
    font-size: 90%;
  }
  #leaderboards-container .row:nth-child(2) .col-lg-8 .card-body td i {
    font-size: 90% !important;
  }
  #leaderboards-container .row:nth-child(2) .col-lg-8 .card-body td {
    font-size: 90%;
  }
  #leaderboards-container .row:nth-child(2) .col-lg-8 .card-body .card {
    overflow: scroll;
  }

  /* pomodoro-container -------------------------------------------------------------------------- */
  #pomodoro-container .row-first nav {
    display: none;
  }
  #pomodoro-container .row-second .col-first {
    margin-top: 0.5rem !important;
  }
  #pomodoro-container .row-second .col-first .card .card-header-menu {
    justify-content: normal !important;
    background: none;
  }
  #pomodoro-container .row-second .col-first .card .card-header-menu .btn {
    width: 100%;
  }
  #pomodoro-container .row-second .col-first .card .card-body {
    padding: 0.1rem;
  }
  #pomodoro-container .row-second .col-first .card .card-body .table tbody td:nth-child(3) span {
    display: none;
  }
  #pomodoro-container .row-second .col-first .card .card-body .table tbody td:nth-child(4) span {
    display: none;
  }
  #pomodoro-container .row-second .col-first .card .card-body .table tbody td:nth-child(4) a {
    padding: 0.2rem 0.4rem;
  }
  #pomodoro-container .row-second .col-first .card .card-body .alert {
    margin: 1rem;
  }
  #pomodoro-container .row-second .col-second {
    margin-top: 1rem !important;
  }
  #pomodoro-container .row-third {
    margin-top: 1rem !important;
  }
  #pomodoro-container.pomodoro-container-add .card-footer a, #pomodoro-container.pomodoro-container-add .card-footer .btn, #pomodoro-container.pomodoro-container-update .card-footer a, #pomodoro-container.pomodoro-container-update .card-footer .btn {
    width: 100%;
  }
  #pomodoro-container.pomodoro-container-add .card-footer .go-back-lg, #pomodoro-container.pomodoro-container-update .card-footer .go-back-lg {
    display: none;
  }
  #pomodoro-container.pomodoro-container-add .card-footer .go-back-sm, #pomodoro-container.pomodoro-container-update .card-footer .go-back-sm {
    margin-top: 0.5rem;
  }
  #pomodoro-container.pomodoro-container-add .pomodoro-card .card-body .form-group-main .col-main {
    display: flex;
    justify-content: center;
  }
  #pomodoro-container.pomodoro-container-add .pomodoro-card .card-body .form-group-main .col-main #main {
    height: 180px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #pomodoro-container.pomodoro-container-add .pomodoro-card .card-body .form-group-main .col-main #main #countdown {
    font-size: 2.5rem;
    padding-top: 40px;
    font-weight: 400;
    color: white;
  }
  #pomodoro-container.pomodoro-container-add .pomodoro-card .card-body .form-group-remarks {
    margin-top: 1rem !important;
  }
  #pomodoro-container.pomodoro-container-add .pomodoro-card .card-body .form-group-action .col-action {
    display: flex;
    justify-content: space-between;
  }
  #pomodoro-container.pomodoro-container-add .pomodoro-card .card-body .form-group-action .btn {
    border: 1px solid #9e9e9e;
    text-align: center;
    align-items: center;
    height: 50px;
    width: 70px;
    margin-left: 0.5rem;
    font-size: 1rem;
  }
  #pomodoro-container.pomodoro-container-add .pomodoro-card .card-body .btn {
    font-size: 1.3rem;
  }
  #pomodoro-container.list-by-date-pomodoro-container table .btn-warning span {
    display: none;
  }
  #pomodoro-container.pomodoro-container-delete .card-footer a, #pomodoro-container.pomodoro-container-delete .card-footer button {
    width: 100%;
  }
  #pomodoro-container.pomodoro-container-delete .card-footer button {
    margin-top: 0.5rem;
  }

  /* profile-container -------------------------------------------------------------------------- */
  #profile-container nav {
    display: none;
  }
  #profile-container .row:nth-child(2) .col-lg-4 {
    margin-top: 0.5rem !important;
  }
  #profile-container .row:nth-child(2) .col-lg-4 .card-body {
    padding: 1rem 1rem 0 1rem !important;
  }
  #profile-container .row:nth-child(2) .col-lg-4 .card-body .list-group-item:last-child .profile-bmi {
    text-align: right;
  }
  #profile-container .row:nth-child(2) .col-lg-8 {
    margin-top: 1rem !important;
  }

  /* water-intake -------------------------------------------------------------------------- */
  #water-container .row:first-child .col-page-header nav {
    display: none;
  }
  #water-container .row:nth-child(2) .col-lg-8 {
    margin-top: 0.5rem !important;
  }
  #water-container .row:nth-child(2) .col-lg-8 .card-header-menu {
    justify-content: normal !important;
    background: none;
  }
  #water-container .row:nth-child(2) .col-lg-8 .card-header-menu .btn {
    width: 100%;
  }
  #water-container .row:nth-child(2) .col-lg-8 .card-body {
    padding: 0.1rem;
  }
  #water-container .row:nth-child(2) .col-lg-8 .card-body .table th:first-child, #water-container .row:nth-child(2) .col-lg-8 .card-body .table td:first-child {
    display: none;
  }
  #water-container .row:nth-child(2) .col-lg-8 .card-body .table tbody td:nth-child(3) span {
    display: none;
  }
  #water-container .row:nth-child(2) .col-lg-8 .card-body .table tbody td:nth-child(4) span {
    display: none;
  }
  #water-container .row:nth-child(2) .col-lg-8 .card-body .table tbody td:nth-child(4) a {
    padding: 0.2rem 0.4rem;
  }
  #water-container .row:nth-child(2) .col-lg-8 .card-body .alert {
    margin: 1rem;
  }
  #water-container .row:nth-child(2) .col-lg-8 .row:nth-child(2) .col-lg-4 {
    margin-top: 2rem;
  }
  #water-container .row:nth-child(2) .col-lg-8 .row:nth-child(3) {
    margin-top: 2rem !important;
  }
  #water-container.water-container-add .row:nth-child(2) .col-lg-6, #water-container.water-container-update .row:nth-child(2) .col-lg-6 {
    margin-top: 0.5rem !important;
  }
  #water-container.water-container-add .card-footer a, #water-container.water-container-add .card-footer .btn, #water-container.water-container-update .card-footer a, #water-container.water-container-update .card-footer .btn {
    width: 100%;
  }
  #water-container.water-container-add .card-footer .go-back-lg, #water-container.water-container-update .card-footer .go-back-lg {
    display: none;
  }
  #water-container.water-container-add .card-footer .go-back-sm, #water-container.water-container-update .card-footer .go-back-sm {
    margin-top: 0.5rem;
  }
  #water-container.water-container-delete .card-footer a, #water-container.water-container-delete .card-footer button {
    width: 100%;
  }
  #water-container.water-container-delete .card-footer button {
    margin-top: 0.5rem;
  }

  /* weight -------------------------------------------------------------------------- */
  #weight-container .row-first nav {
    display: none;
  }
  #weight-container .row-second .col-first {
    margin-top: 0.5rem !important;
  }
  #weight-container .row-second .col-first .card .card-header-menu {
    justify-content: normal !important;
    background: none;
  }
  #weight-container .row-second .col-first .card .card-header-menu .btn {
    width: 100%;
  }
  #weight-container .row-second .col-first .card .card-body {
    padding: 0.1rem;
  }
  #weight-container .row-second .col-first .card .card-body .table th:first-child, #weight-container .row-second .col-first .card .card-body .table td:first-child {
    display: none;
  }
  #weight-container .row-second .col-first .card .card-body .table tbody td:nth-child(3) span {
    display: none;
  }
  #weight-container .row-second .col-first .card .card-body .table tbody td:nth-child(4) span {
    display: none;
  }
  #weight-container .row-second .col-first .card .card-body .table tbody td:nth-child(4) a {
    padding: 0.2rem 0.4rem;
  }
  #weight-container .row-second .col-first .card .card-body .alert {
    margin: 1rem;
  }
  #weight-container .row-second .col-second {
    margin-top: 1rem !important;
  }
  #weight-container .row-third {
    margin-top: 1rem !important;
  }
  #weight-container.weight-container-add .row:nth-child(2) .col-lg-6, #weight-container.weight-container-update .row:nth-child(2) .col-lg-6 {
    margin-top: 0.5rem !important;
  }
  #weight-container.weight-container-add .card-footer a, #weight-container.weight-container-add .card-footer .btn, #weight-container.weight-container-update .card-footer a, #weight-container.weight-container-update .card-footer .btn {
    width: 100%;
  }
  #weight-container.weight-container-add .card-footer .go-back-lg, #weight-container.weight-container-update .card-footer .go-back-lg {
    display: none;
  }
  #weight-container.weight-container-add .card-footer .go-back-sm, #weight-container.weight-container-update .card-footer .go-back-sm {
    margin-top: 0.5rem;
  }
  #weight-container.weight-container-delete .card-footer a, #weight-container.weight-container-delete .card-footer button {
    width: 100%;
  }
  #weight-container.weight-container-delete .card-footer button {
    margin-top: 0.5rem;
  }

  /* xps-container -------------------------------------------------------------------------- */
  #xps-container .row:first-child .col-page-header nav {
    display: none;
  }
  #xps-container .row:nth-child(2) .col-lg-8 {
    margin-top: 0.5rem !important;
  }
  #xps-container .row:nth-child(2) .col-lg-8 .card-body {
    padding: 0.2rem;
  }

  /* registration -------------------------------------------------------------------------- */
  #registration {
    font-size: 13px;
  }
  #registration .col-sm-12 {
    padding: 0rem 1rem;
  }
  #registration .btn {
    width: 100%;
  }

  /* steps-container -------------------------------------------------------------------------- */
  #steps-container .row:first-child .col-page-header nav {
    display: none;
  }
  #steps-container .row:nth-child(2) .col-lg-8 {
    margin-top: 0.5rem !important;
  }
  #steps-container .row:nth-child(2) .col-lg-8 .card-header-menu {
    justify-content: normal !important;
    background: none;
  }
  #steps-container .row:nth-child(2) .col-lg-8 .card-header-menu .btn {
    width: 100%;
  }
  #steps-container .row:nth-child(2) .col-lg-8 .card-body {
    padding: 0.1rem;
  }
  #steps-container .row:nth-child(2) .col-lg-8 .card-body .table th:first-child, #steps-container .row:nth-child(2) .col-lg-8 .card-body .table td:first-child {
    display: none;
  }
  #steps-container .row:nth-child(2) .col-lg-8 .card-body .table tbody td:nth-child(3) span {
    display: none;
  }
  #steps-container .row:nth-child(2) .col-lg-8 .card-body .table tbody td:nth-child(4) span {
    display: none;
  }
  #steps-container .row:nth-child(2) .col-lg-8 .card-body .table tbody td:nth-child(4) a {
    padding: 0.2rem 0.4rem;
  }
  #steps-container .row:nth-child(2) .col-lg-8 .card-body .alert {
    margin: 1rem;
  }
  #steps-container .row:nth-child(2) .col-lg-8 .row:nth-child(2) .col-lg-4 {
    margin-top: 1.5rem;
  }
  #steps-container .row:nth-child(2) .col-lg-8 .row:nth-child(3) {
    margin-top: 1.5rem !important;
  }
  #steps-container.steps-container-add .row:nth-child(2) .col-lg-6, #steps-container.steps-container-update .row:nth-child(2) .col-lg-6 {
    margin-top: 0.5rem !important;
  }
  #steps-container.steps-container-add .card-footer a, #steps-container.steps-container-add .card-footer .btn, #steps-container.steps-container-update .card-footer a, #steps-container.steps-container-update .card-footer .btn {
    width: 100%;
  }
  #steps-container.steps-container-add .card-footer .go-back-lg, #steps-container.steps-container-update .card-footer .go-back-lg {
    display: none;
  }
  #steps-container.steps-container-add .card-footer .go-back-sm, #steps-container.steps-container-update .card-footer .go-back-sm {
    margin-top: 0.5rem;
  }
  #steps-container.steps-container-delete .card-footer a, #steps-container.steps-container-delete .card-footer button {
    width: 100%;
  }
  #steps-container.steps-container-delete .card-footer button {
    margin-top: 0.5rem;
  }

  /* top-navigation -------------------------------------------------------------------------- */
  #top-navigation-sm {
    background-color: #6c757d;
    height: 3rem;
    color: #cbcbcb;
    border-bottom: 1px solid rgba(54, 61, 71, 0.1);
    padding: 0 1rem;
  }
  #top-navigation-sm #menu i, #top-navigation-sm .fa-crown, #top-navigation-sm .fa-bolt, #top-navigation-sm #menu-profile .fa-circle-user {
    font-size: 1.3rem;
    color: #cbcbcb;
  }
  #top-navigation-sm .active i {
    color: #FFFFFF !important;
  }
  #top-navigation-sm #menu-profile .dropdown-menu {
    min-width: 200px !important;
  }
  #top-navigation-sm #menu-profile .dropdown-menu[data-bs-popper] {
    right: 0 !important;
    left: unset !important;
  }

  #top-nagivation-lg {
    display: none;
  }

  #ui-datepicker-div {
    font-size: 12px;
  }

  .btn-secondary.disabled:hover {
    cursor: crosshair;
  }

  /* pagination -------------------------------------------------------------------------- */
  .pagination-sm {
    width: 100%;
  }
  .pagination-sm div:first-child {
    display: flex;
    justify-content: space-between;
  }
  .pagination-sm div:first-child .btn {
    width: 50%;
    margin: 2px;
  }
  .pagination-sm div:nth-child(2) {
    display: flex;
    justify-content: space-between;
  }
  .pagination-sm div:nth-child(2) .btn {
    width: 50%;
    margin: 2px;
  }
  .pagination-sm div:nth-child(3) .alert {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    justify-content: center !important;
    font-style: italic;
  }

  #pagination-lg {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  #calories-container.calories-container-add .card .go-back-sm {
    display: none;
  }

  #top-navigation-sm {
    display: none;
  }

  #sidebar-sm {
    display: none !important;
  }

  #pagination-sm {
    display: none;
  }

  #steps-container.steps-container-add .card .go-back-sm {
    display: none;
  }

  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 767px) {
  #sidebar-lg {
    display: none !important;
  }

  #sidebar-sm {
    width: 75px;
  }
  #sidebar-sm .logo {
    height: 50px;
    padding-left: 6px;
    margin-top: 5px !important;
  }
  #sidebar-sm ul {
    padding-left: 0;
    text-align: center;
    /*border-top: 1px solid red;*/
  }
  #sidebar-sm ul li {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  #sidebar-sm ul li:first-child {
    margin-top: 2rem;
  }
  #sidebar-sm ul li .nav-link {
    padding-left: 0;
    padding-right: 0;
    color: #9e9e9e;
  }
  #sidebar-sm ul li .nav-link .menu-text {
    font-size: 14px;
  }
  #sidebar-sm ul li .active {
    color: #ffffff;
  }
  #sidebar-sm ul li .active i {
    font-size: 1.2rem;
  }
  #sidebar-sm ul li .active .menu-text {
    font-size: 15px;
  }

  .sidebar {
    display: none !important;
  }

  .toggled {
    display: block !important;
  }
}
@media screen and (min-width: 768px) {
  /* sidebar -------------------------------------------------------------------------- */
  #sidebar-lg .nav-link {
    color: white;
  }
  #sidebar-lg .nav-link:hover {
    font-size: 1.1rem;
  }
  #sidebar-lg .li-divider {
    border: 1px solid #6c757d;
    margin: 10px 0 10px 0;
  }
}

/*# sourceMappingURL=main.css.map */
