/*
    Author      : Ashish S. Maharjan
    Author URI  : https://github.com/asis2016/
    Description : This theme is designed for Gesund App.
*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500&display=swap');

$logo_color: #dd7e77;
$dark_grey: #363D47;
$light_grey: #6c757d;
$grey_500: #9e9e9e;
$ligh_green: #90EE90;

@import "style.scss";
@import "screen.scss";

@import "about_us.scss";
@import "calories.scss";
@import "calories_datestamp.scss";
@import "change_password.scss";
@import "change_password_done_container.scss";
@import "sidebar.scss";
@import "dashboard.scss";
@import "top_navigation.scss";
@import "modal.scss";
@import "pagination.scss";
@import "profile.scss";
@import "pomodoro.scss";
@import "goals.scss";
@import "history.scss";
@import "leaderboard.scss";
@import "steps.scss";
@import "water_intake.scss";
@import "weight.scss";
@import "xps.scss";
