/*
    Author      : Ashish S. Maharjan
    Author URI  : https://github.com/asis2016/
    Description : This theme is designed for Gesund App.
*/
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500&display=swap");
/* style.scss -------------------------------------------------------------------------- */
html {
  height: -webkit-fill-available;
}

body {
  min-height: -webkit-fill-available;
  font-family: "Baloo Da 2";
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: -webkit-fill-available;
  overflow-x: auto;
  overflow-y: hidden;
}
main .main-wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-color: #f4f6f9;
}
main .col-page-header {
  display: flex;
  justify-content: space-between;
}
main .card-header-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #6c757d;
  color: #ffffff;
}
main .card-header-menu h6 {
  margin-bottom: 0px;
}
main .card-header-menu .minimize {
  align-items: center;
  vertical-align: middle;
  display: flex;
  padding-right: 8px;
}
main .card-header-menu .minimize a {
  color: #fff;
}
main .card-header-menu .minimize a:hover {
  cursor: pointer;
}
main .data-table-list tbody tr td {
  vertical-align: middle !important;
}

.dropdown-toggle {
  outline: 0;
}

.scrollarea {
  overflow-y: auto;
}

/* @media screen and (max-width: 767px) -------------------------------------- */
@media screen and (max-width: 767px) {
  #ui-datepicker-div {
    font-size: 12px;
  }

  .btn-secondary.disabled:hover {
    cursor: crosshair;
  }
}
/* @media screen and (min-width: 768px) -------------------------------------- */
@media screen and (min-width: 768px) {
  .go-back-sm {
    display: none;
  }

  #sidebar-sm {
    display: none !important;
  }

  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
/* about-container -------------------------------------------------------------------------- */
#about-container p {
  text-align: justify;
}

@media screen and (max-width: 767px) {
  #contactus-container .row-first nav {
    display: none;
  }
  #contactus-container .row-second .col-first {
    margin-top: 0.5rem !important;
  }
  #contactus-container .row-second .col-first .card .card-footer a, #contactus-container .row-second .col-first .card .card-footer .btn {
    width: 100%;
  }
  #contactus-container .row-second .col-first .card .card-footer .go-back-lg {
    display: none;
  }
  #contactus-container .row-second .col-first .card .card-footer .go-back-sm {
    margin-top: 0.5rem;
  }
}
/* calories-container -------------------------------------------------------------------------- */
@media screen and (max-width: 767px) {
  #calories-container .row-first nav {
    display: none;
  }
  #calories-container .row-second .col-first {
    margin-top: 0.5rem !important;
  }
  #calories-container .row-second .col-first .card .card-header-menu {
    justify-content: normal !important;
    background: none;
  }
  #calories-container .row-second .col-first .card .card-header-menu .btn {
    width: 100%;
  }
  #calories-container .row-second .col-first .card .card-body {
    padding: 0.1rem;
  }
  #calories-container .row-second .col-first .card .card-body .table th:first-child, #calories-container .row-second .col-first .card .card-body .table td:first-child {
    display: none;
  }
  #calories-container .row-second .col-first .card .card-body .table tbody td:nth-child(3) span {
    display: none;
  }
  #calories-container .row-second .col-first .card .card-body .table tbody td:nth-child(4) span {
    display: none;
  }
  #calories-container .row-second .col-first .card .card-body .table tbody td:nth-child(4) a {
    padding: 0.2rem 0.4rem;
  }
  #calories-container .row-second .col-first .card .card-body .alert {
    margin: 1rem;
  }
  #calories-container .row-second .col-first .card .card-body .list-group {
    overflow: hidden;
  }
  #calories-container .row-second .col-second {
    margin-top: 1rem !important;
  }
  #calories-container .row-third {
    margin-top: 1rem !important;
  }
  #calories-container.calories-container-add .row-second .col-first, #calories-container.calories-container-update .row-second .col-first {
    margin-top: 0.5rem !important;
  }
  #calories-container.calories-container-add .card-footer a, #calories-container.calories-container-add .card-footer .btn, #calories-container.calories-container-update .card-footer a, #calories-container.calories-container-update .card-footer .btn {
    width: 100%;
  }
  #calories-container.calories-container-add .card-footer .go-back-lg, #calories-container.calories-container-update .card-footer .go-back-lg {
    display: none;
  }
  #calories-container.calories-container-add .card-footer .go-back-sm, #calories-container.calories-container-update .card-footer .go-back-sm {
    margin-top: 0.5rem;
  }
  #calories-container.calories-container-add #food-modal i, #calories-container.calories-container-update #food-modal i {
    position: absolute;
    right: -7px;
    font-size: 2.2rem;
    color: red;
    top: -7px;
  }
  #calories-container.calories-container-add #food-modal i:hover, #calories-container.calories-container-update #food-modal i:hover {
    cursor: pointer;
  }
  #calories-container.calories-container-add #modal-food-search .modal-body, #calories-container.calories-container-update #modal-food-search .modal-body {
    padding: 0;
  }
  #calories-container.calories-container-add #modal-food-search .modal-close, #calories-container.calories-container-update #modal-food-search .modal-close {
    position: absolute;
    z-index: 999;
    right: -7px;
    top: -12px;
    color: red;
    font-size: 2rem;
  }

  .calories-container-add .row-second .card .card-header-menu {
    background: #6c757d !important;
  }
  .calories-container-add .row-second .card .card-body {
    padding: 1rem !important;
  }

  .calories-container-update .row-second .card .card-header-menu {
    background: #6c757d !important;
  }
  .calories-container-update .row-second .card .card-body {
    padding: 1rem !important;
  }

  .calories-container-delete .card-footer a, .calories-container-delete .card-footer button {
    width: 100% !important;
  }
  .calories-container-delete .card-footer button {
    margin-top: 0.5rem;
  }
}
/* calories-container-datestamp-collection -------------------------------------------------------------------------- */
#calories-container-datestamp-collection .action-buttons {
  justify-content: space-between;
}
#calories-container-datestamp-collection .action-buttons a {
  width: 90%;
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (max-width: 767px) {
  #calories-container-datestamp-collection .row-first nav {
    display: none;
  }
  #calories-container-datestamp-collection .row-second .col-first {
    margin-top: 0.5rem !important;
  }
}
/* change-password-container -------------------------------------------------------------------------- */
@media screen and (max-width: 767px) {
  #change-password-container .row:first-child .col-page-header nav {
    display: none;
  }
  #change-password-container .row:nth-child(2) .col-lg-8 {
    margin-top: 0.5rem !important;
  }
  #change-password-container .row:nth-child(2) .col-lg-8 .card-body .alert {
    margin: 1rem;
  }
  #change-password-container .row:nth-child(2) .col-lg-8 .card-footer .btn-success {
    width: 100%;
  }
  #change-password-container .row:nth-child(2) .col-lg-8 .card-footer .btn-secondary {
    margin-top: 0.5rem;
    width: 100%;
  }
  #change-password-container .row:nth-child(2) .col-lg-8 .card-footer .go-back-lg {
    display: none;
  }
}
/* change-password-done-container -------------------------------------------------------------------------- */
@media screen and (max-width: 767px) {
  #change-password-done-container .row:first-child .col-page-header nav {
    display: none;
  }
  #change-password-done-container .row:nth-child(2) .col-lg-8 {
    margin-top: 0.5rem !important;
  }
}
/* sidebar -------------------------------------------------------------------------- */
.sidebar {
  background: #363D47;
  color: #363D47;
  width: 280px;
  height: 100vh;
}
.sidebar .nav-pills li span {
  padding-left: 10px;
}

@media screen and (max-width: 767px) {
  #sidebar-lg {
    display: none !important;
  }

  #sidebar-sm {
    width: 75px;
  }
  #sidebar-sm .logo {
    height: 50px;
    padding-left: 6px;
    margin-top: 5px !important;
  }
  #sidebar-sm ul {
    padding-left: 0;
    text-align: center;
    /*border-top: 1px solid red;*/
  }
  #sidebar-sm ul li {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  #sidebar-sm ul li:first-child {
    margin-top: 2rem;
  }
  #sidebar-sm ul li .nav-link {
    padding-left: 0;
    padding-right: 0;
    color: #9e9e9e;
  }
  #sidebar-sm ul li .nav-link .menu-text {
    font-size: 14px;
  }
  #sidebar-sm ul li .active {
    color: #ffffff;
  }
  #sidebar-sm ul li .active i {
    font-size: 1.2rem;
  }
  #sidebar-sm ul li .active .menu-text {
    font-size: 15px;
  }

  .sidebar {
    display: none !important;
  }

  .toggled {
    display: block !important;
  }
}
@media screen and (min-width: 768px) {
  #sidebar-lg .logo {
    height: 50px;
    width: auto;
    padding-right: 0.5rem;
  }
  #sidebar-lg .nav-link {
    color: white;
  }
  #sidebar-lg .nav-link:hover {
    font-size: 1.1rem;
  }
  #sidebar-lg .li-divider {
    border: 1px solid #6c757d;
    margin: 10px 0 10px 0;
  }
}
/* dashboard -------------------------------------------------------------------------- */
#dashboard-container #daily_goals_card_content .progress,
#dashboard-container #water_card_content .progress {
  height: 1.2rem;
}
#dashboard-container #daily_goals_card_content .progress span,
#dashboard-container #water_card_content .progress span {
  color: white;
  font-weight: 300;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media screen and (max-width: 767px) {
  #dashboard-container .alert-warning {
    margin-bottom: 0;
  }
  #dashboard-container #dashboard-daily-goals {
    margin-top: 0 !important;
  }
  #dashboard-container #dashboard-daily-goals p {
    margin-bottom: 0.4rem !important;
  }
  #dashboard-container #dashboard-daily-goals .card-header-menu .minimize {
    padding-right: 0;
  }
  #dashboard-container #dashboard-history .card-body {
    padding: 0;
  }
  #dashboard-container #dashboard-history .card-body .table {
    margin-bottom: 0;
  }
  #dashboard-container #dashboard-steps .card-body {
    padding: 0;
  }
  #dashboard-container #dashboard-steps .card-body .alert {
    margin: 1rem;
  }
  #dashboard-container #dashboard-water .card-body {
    padding: 0;
  }
  #dashboard-container #dashboard-water .card-body .alert {
    margin: 1rem;
  }
  #dashboard-container #dashboard-water .card-body .table {
    margin-bottom: 0;
  }
  #dashboard-container #quick-stats {
    display: none;
  }
  #dashboard-container #dashboard-challenge {
    display: none;
  }
  #dashboard-container #dashboard-challenge .card .card-body {
    text-align: center;
    background-color: #90EE90;
  }
  #dashboard-container #dashboard-challenge .card .card-body img {
    height: 50px;
  }
  #dashboard-container #dashboard-challenge .card .card-body p {
    margin-bottom: 0;
  }
  #dashboard-container #dashboard-challenge .card .card-footer {
    height: auto;
  }
  #dashboard-container #dashboard-challenge .card .card-footer p {
    margin-bottom: 0;
  }
  #dashboard-container #dashboard-bmi,
#dashboard-container #dashboard-calories,
#dashboard-container #dashboard-water,
#dashboard-container #dashboard-steps,
#dashboard-container #dashboard-pomodoro,
#dashboard-container #dashboard-history {
    margin-top: 1.5rem !important;
  }
  #dashboard-container .card .card-footer {
    height: 45px;
  }
}
@media screen and (min-width: 768px) {
  #dashboard-container #quick-stats .card-info {
    background: #90EE90;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 0.25em;
  }
  #dashboard-container #quick-stats .card-info div {
    width: 80%;
  }
  #dashboard-container #quick-stats .card-info .fa-solid {
    font-size: 50px;
  }
}
/* top-navigation -------------------------------------------------------------------------- */
@media screen and (max-width: 767px) {
  #top-navigation-lg {
    display: none;
  }

  /* top-navigation-sm -------------------------------------- */
  #top-navigation-sm {
    background-color: #6c757d;
    height: 3rem;
    color: #cbcbcb;
    border-bottom: 1px solid rgba(54, 61, 71, 0.1);
    padding: 0 1rem;
  }
  #top-navigation-sm #menu i, #top-navigation-sm .fa-crown, #top-navigation-sm .fa-bolt, #top-navigation-sm #menu-profile .fa-circle-user {
    font-size: 1.3rem;
    color: #cbcbcb;
  }
  #top-navigation-sm .active i {
    color: #FFFFFF !important;
  }
  #top-navigation-sm #menu-profile .dropdown-menu {
    min-width: 200px !important;
  }
  #top-navigation-sm #menu-profile .dropdown-menu[data-bs-popper] {
    right: 0 !important;
    left: unset !important;
  }
}
@media screen and (min-width: 768px) {
  #top-navigation-sm {
    display: none;
  }

  #top-navigation-lg {
    border-bottom: 1px solid #363D47;
    z-index: 1034;
    background-color: #6c757d;
    color: #ffffff !important;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
  }
  #top-navigation-lg .navbar-nav .nav-item a {
    color: #fff;
  }
}
/* pomodoro-container -------------------------------------------------------------------------- */
.modal-info-i {
  font-size: 1rem;
}

.modal-main .modal-body {
  text-align: center;
}
.modal-main .modal-body img {
  margin-bottom: 1rem;
  height: 200px;
  width: 200px;
}
.modal-main .modal-body p {
  text-align: justify;
}

/* pagination -------------------------------------------------------------------------- */
@media screen and (max-width: 767px) {
  #pagination-lg {
    display: none;
  }

  #pagination-sm {
    width: 100%;
  }
  #pagination-sm div:first-child {
    display: flex;
    justify-content: space-between;
  }
  #pagination-sm div:first-child .btn {
    width: 50%;
    margin: 2px;
  }
  #pagination-sm div:nth-child(2) {
    display: flex;
    justify-content: space-between;
  }
  #pagination-sm div:nth-child(2) .btn {
    width: 50%;
    margin: 2px;
  }
  #pagination-sm div:nth-child(3) .alert {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    justify-content: center !important;
    font-style: italic;
  }
}
@media screen and (min-width: 768px) {
  #pagination-sm {
    display: none;
  }
}
/* profile-container -------------------------------------------------------------------------- */
#profile-container .profile-img {
  display: flex;
  justify-content: center;
}
#profile-container .profile-img .profile-img-txt {
  align-items: center;
  background: #6c757d;
  border: 5px solid #363D47;
  border-radius: 50%;
  display: flex;
  height: 100px;
  justify-content: center;
  text-align: center;
  width: 100px;
}
#profile-container .profile-img .profile-img-txt span {
  color: #fff;
  font-size: 1.2rem;
}

@media screen and (max-width: 767px) {
  #profile-container .row-first nav {
    display: none;
  }
  #profile-container .row-second .col-first {
    margin-top: 0.5rem !important;
  }
  #profile-container .row-second .col-first .card-body {
    padding: 1rem;
  }
  #profile-container .row-second .col-first .card-body .list-group-item:last-child .profile-bmi {
    text-align: right;
  }
  #profile-container .row-second .col-second .list-group-item:last-child {
    padding: 0;
    padding-top: 1rem;
  }
  #profile-container .row:nth-child(2) .col-lg-8 {
    margin-top: 1rem !important;
  }
}
/* pomodoro-container -------------------------------------------------------------------------- */
.pomodoro-container-add .col-main {
  display: flex;
  justify-content: center;
}
.pomodoro-container-add .col-main #main {
  height: 180px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pomodoro-container-add .col-main #main #countdown {
  font-size: 2.5rem;
  padding-top: 40px;
  font-weight: 400;
  color: white;
}

@media screen and (max-width: 767px) {
  #pomodoro-container .row-first nav {
    display: none;
  }
  #pomodoro-container .row-second .col-first {
    margin-top: 0.5rem !important;
  }
  #pomodoro-container .row-second .col-first .card .card-header-menu {
    justify-content: normal !important;
    background: none;
  }
  #pomodoro-container .row-second .col-first .card .card-header-menu .btn {
    width: 100%;
  }
  #pomodoro-container .row-second .col-first .card .card-body {
    padding: 0.1rem;
  }
  #pomodoro-container .row-second .col-first .card .card-body .table tbody td:nth-child(3) span {
    display: none;
  }
  #pomodoro-container .row-second .col-first .card .card-body .table tbody td:nth-child(4) span {
    display: none;
  }
  #pomodoro-container .row-second .col-first .card .card-body .table tbody td:nth-child(4) a {
    padding: 0.2rem 0.4rem;
  }
  #pomodoro-container .row-second .col-first .card .card-body .alert {
    margin: 1rem;
  }
  #pomodoro-container .row-second .col-second {
    margin-top: 1rem !important;
  }
  #pomodoro-container .row-third {
    margin-top: 1rem !important;
  }

  .pomodoro-container-add .card-footer a, .pomodoro-container-add .card-footer .btn, .pomodoro-container-update .card-footer a, .pomodoro-container-update .card-footer .btn {
    width: 100%;
  }
  .pomodoro-container-add .card-footer .go-back-lg, .pomodoro-container-update .card-footer .go-back-lg {
    display: none;
  }
  .pomodoro-container-add .card-footer .go-back-sm, .pomodoro-container-update .card-footer .go-back-sm {
    margin-top: 0.5rem;
  }

  .pomodoro-container-add .row-second .col-lg-6 {
    margin-top: 0.5rem !important;
  }
  .pomodoro-container-add .row-second .col-lg-6 .pomodoro-card .card-body .form-group-main label {
    display: none;
  }
  .pomodoro-container-add .row-second .col-lg-6 .pomodoro-card .card-body .form-group-remarks {
    margin-top: 1rem !important;
  }
  .pomodoro-container-add .row-second .col-lg-6 .pomodoro-card .card-body .form-group-action .col-action {
    display: flex;
    justify-content: space-between;
  }
  .pomodoro-container-add .row-second .col-lg-6 .pomodoro-card .card-body .form-group-action .btn {
    border: 1px solid #9e9e9e;
    text-align: center;
    align-items: center;
    height: 50px;
    width: 70px;
    margin-left: 0.5rem;
    font-size: 1rem;
  }
  .pomodoro-container-add .row-second .col-lg-6 .pomodoro-card .card-body .btn {
    font-size: 1.3rem;
  }

  .list-by-date-pomodoro-container table .btn-warning span {
    display: none;
  }

  .pomodoro-container-detail .row-second .col-first {
    margin-top: 0.5rem !important;
  }
  .pomodoro-container-detail .row-second .col-first .card .table {
    margin-bottom: 0;
  }
  .pomodoro-container-detail .row-second .col-first .card .card-footer a, .pomodoro-container-detail .row-second .col-first .card .card-footer button {
    width: 100%;
  }
  .pomodoro-container-detail .row-second .col-first .card .card-footer button {
    margin-top: 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .pomodoro-container-add .col-main {
    margin-bottom: 1.8rem !important;
  }

  .list-by-date-pomodoro-container .card-header-menu {
    color: #fff !important;
    font-size: 1.3rem;
  }
  .list-by-date-pomodoro-container .go-back-sm {
    display: block;
  }

  .pomodoro-container-detail .btn-danger {
    margin-top: 0 !important;
  }
}
/* goals-container -------------------------------------------------------------------------- */
@media screen and (max-width: 767px) {
  #goals-container .row-first nav {
    display: none;
  }

  .goals-container-index .btn {
    width: 100% !important;
  }

  .goals-container-update .row-second .col-lg-6 {
    margin-top: 0.5rem !important;
  }
  .goals-container-update .row-second .col-lg-6 .btn {
    width: 100% !important;
  }
}
/*
    Author URI  : https://bootsnipp.com/snippets/OzQj
    history --------------------------------------------------------------------------
*/
#history-container .bg-CREATE, #history-container .bg-REWARDED {
  background: #198754 !important;
}
#history-container .bg-UPDATE {
  background: #ffc107 !important;
}
#history-container .bg-DELETE {
  background: #dc3545 !important;
}
#history-container .timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
#history-container .timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
#history-container .timeline > li {
  margin-bottom: 20px;
  position: relative;
}
#history-container .timeline > li:before,
#history-container .timeline > li:after {
  content: " ";
  display: table;
}
#history-container .timeline > li:after {
  clear: both;
}
#history-container .timeline > li:before,
#history-container .timeline > li:after {
  content: " ";
  display: table;
}
#history-container .timeline > li:after {
  clear: both;
}
#history-container .timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  background: #fff;
}
#history-container .timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
#history-container .timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
#history-container .timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
#history-container .timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
#history-container .timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
#history-container .timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
#history-container .timeline-badge.primary {
  background-color: #2e6da4 !important;
}
#history-container .timeline-badge.success {
  background-color: #3f903f !important;
}
#history-container .timeline-badge.warning {
  background-color: #f0ad4e !important;
}
#history-container .timeline-badge.danger {
  background-color: #d9534f !important;
}
#history-container .timeline-badge.info {
  background-color: #5bc0de !important;
}
#history-container .timeline-title {
  margin-top: 0;
  color: inherit;
}
#history-container .timeline-body > p,
#history-container .timeline-body > ul {
  margin-bottom: 0;
}
#history-container .timeline-body > p + p {
  margin-top: 5px;
}
@media (max-width: 767px) {
  #history-container ul.timeline:before {
    left: 40px;
  }
  #history-container ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }
  #history-container ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }
  #history-container ul.timeline > li > .timeline-panel {
    float: right;
  }
  #history-container ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  #history-container ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}

@media screen and (max-width: 767px) {
  .col-page-header nav {
    display: none;
  }
}
/* leaderboards-container -------------------------------------------------------------------------- */
@media screen and (max-width: 767px) {
  #leaderboards-container .row-first nav {
    display: none;
  }
  #leaderboards-container .row-second .col-first {
    margin-top: 0.5rem !important;
  }
  #leaderboards-container .row-second .col-first .card-body {
    padding: 0.2rem;
    overflow: scroll;
  }
  #leaderboards-container .row-second .col-first .card-body th {
    font-size: 90%;
  }
  #leaderboards-container .row-second .col-first .card-body td i {
    font-size: 90% !important;
  }
  #leaderboards-container .row-second .col-first .card-body td {
    font-size: 90%;
  }
  #leaderboards-container .row-second .col-first .card-body .card {
    overflow: scroll;
  }
}
/* steps-container -------------------------------------------------------------------------- */
@media screen and (max-width: 767px) {
  #steps-container .row-first nav {
    display: none;
  }
  #steps-container .row-second .col-first {
    margin-top: 0.5rem !important;
  }
  #steps-container .row-second .col-first .card .card-header-menu {
    justify-content: normal !important;
    background: none;
  }
  #steps-container .row-second .col-first .card .card-header-menu .btn {
    width: 100%;
  }
  #steps-container .row-second .col-first .card .card-body {
    padding: 0.1rem;
  }
  #steps-container .row-second .col-first .card .card-body .table th:first-child, #steps-container .row-second .col-first .card .card-body .table td:first-child {
    display: none;
  }
  #steps-container .row-second .col-first .card .card-body .table tbody td:nth-child(3) span {
    display: none;
  }
  #steps-container .row-second .col-first .card .card-body .table tbody td:nth-child(4) span {
    display: none;
  }
  #steps-container .row-second .col-first .card .card-body .table tbody td:nth-child(4) a {
    padding: 0.2rem 0.4rem;
  }
  #steps-container .row-second .col-first .card .card-body .alert {
    margin: 1rem;
  }
  #steps-container .row-second .col-second {
    margin-top: 1rem !important;
  }
  #steps-container .row-third {
    margin-top: 1rem !important;
  }

  .steps-container-add .row-second .col-lg-6, .steps-container-update .row-second .col-lg-6 {
    margin-top: 0.5rem !important;
  }
  .steps-container-add .row-second .col-lg-6 .card .card-footer a, .steps-container-add .row-second .col-lg-6 .card .card-footer .btn, .steps-container-update .row-second .col-lg-6 .card .card-footer a, .steps-container-update .row-second .col-lg-6 .card .card-footer .btn {
    width: 100%;
  }
  .steps-container-add .row-second .col-lg-6 .card .card-footer .go-back-lg, .steps-container-update .row-second .col-lg-6 .card .card-footer .go-back-lg {
    display: none;
  }
  .steps-container-add .row-second .col-lg-6 .card .card-footer .go-back-sm, .steps-container-update .row-second .col-lg-6 .card .card-footer .go-back-sm {
    margin-top: 0.5rem;
  }

  .steps-container-delete .card-footer a, .steps-container-delete .card-footer button {
    width: 100%;
  }
  .steps-container-delete .card-footer button {
    margin-top: 0.5rem;
  }
}
/* water-intake -------------------------------------------------------------------------- */
@media screen and (max-width: 767px) {
  #water-container .row-first nav {
    display: none;
  }
  #water-container .row-second .col-first {
    margin-top: 0.5rem !important;
  }
  #water-container .row-second .col-first .card .card-header-menu {
    justify-content: normal !important;
    background: none;
  }
  #water-container .row-second .col-first .card .card-header-menu .btn {
    width: 100%;
  }
  #water-container .row-second .col-first .card .card-body {
    padding: 0.1rem;
  }
  #water-container .row-second .col-first .card .card-body .table th:first-child, #water-container .row-second .col-first .card .card-body .table td:first-child {
    display: none;
  }
  #water-container .row-second .col-first .card .card-body .table tbody td:nth-child(3) span {
    display: none;
  }
  #water-container .row-second .col-first .card .card-body .table tbody td:nth-child(4) span {
    display: none;
  }
  #water-container .row-second .col-first .card .card-body .table tbody td:nth-child(4) a {
    padding: 0.2rem 0.4rem;
  }
  #water-container .row-second .col-first .card .card-body .alert {
    margin: 1rem;
  }
  #water-container .row-second .col-second {
    margin-top: 1rem !important;
  }
  #water-container .row-third {
    margin-top: 1rem !important;
  }

  .water-container-add .row-second .col-lg-6, .water-container-update .row-second .col-lg-6 {
    margin-top: 0.5rem !important;
  }
  .water-container-add .row-second .col-lg-6 .card .card-footer a, .water-container-add .row-second .col-lg-6 .card .card-footer .btn, .water-container-update .row-second .col-lg-6 .card .card-footer a, .water-container-update .row-second .col-lg-6 .card .card-footer .btn {
    width: 100%;
  }
  .water-container-add .row-second .col-lg-6 .card .card-footer .go-back-lg, .water-container-update .row-second .col-lg-6 .card .card-footer .go-back-lg {
    display: none;
  }
  .water-container-add .row-second .col-lg-6 .card .card-footer .go-back-sm, .water-container-update .row-second .col-lg-6 .card .card-footer .go-back-sm {
    margin-top: 0.5rem;
  }

  .water-container-delete .card-footer a, .water-container-delete .card-footer button {
    width: 100%;
  }
  .water-container-delete .card-footer button {
    margin-top: 0.5rem;
  }
}
/* weight -------------------------------------------------------------------------- */
@media screen and (max-width: 767px) {
  #weight-container .row-first nav {
    display: none;
  }
  #weight-container .row-second .col-first {
    margin-top: 0.5rem !important;
  }
  #weight-container .row-second .col-first .card .card-header-menu {
    justify-content: normal !important;
    background: none;
  }
  #weight-container .row-second .col-first .card .card-header-menu .btn {
    width: 100%;
  }
  #weight-container .row-second .col-first .card .card-body {
    padding: 0.1rem;
  }
  #weight-container .row-second .col-first .card .card-body .table th:first-child, #weight-container .row-second .col-first .card .card-body .table td:first-child {
    display: none;
  }
  #weight-container .row-second .col-first .card .card-body .table tbody td:nth-child(3) span {
    display: none;
  }
  #weight-container .row-second .col-first .card .card-body .table tbody td:nth-child(4) span {
    display: none;
  }
  #weight-container .row-second .col-first .card .card-body .table tbody td:nth-child(4) a {
    padding: 0.2rem 0.4rem;
  }
  #weight-container .row-second .col-first .card .card-body .alert {
    margin: 1rem;
  }
  #weight-container .row-second .col-second {
    margin-top: 1rem !important;
  }
  #weight-container .row-third {
    margin-top: 1rem !important;
  }

  .weight-container-add .row-second .col-lg-6, .weight-container-update .row-second .col-lg-6 {
    margin-top: 0.5rem !important;
  }
  .weight-container-add .row-second .col-lg-6 .card .card-footer a, .weight-container-add .row-second .col-lg-6 .card .card-footer .btn, .weight-container-update .row-second .col-lg-6 .card .card-footer a, .weight-container-update .row-second .col-lg-6 .card .card-footer .btn {
    width: 100%;
  }
  .weight-container-add .row-second .col-lg-6 .card .card-footer .go-back-lg, .weight-container-update .row-second .col-lg-6 .card .card-footer .go-back-lg {
    display: none;
  }
  .weight-container-add .row-second .col-lg-6 .card .card-footer .go-back-sm, .weight-container-update .row-second .col-lg-6 .card .card-footer .go-back-sm {
    margin-top: 0.5rem;
  }

  .weight-container-delete .card-footer a, .weight-container-delete .card-footer button {
    width: 100%;
  }
  .weight-container-delete .card-footer button {
    margin-top: 0.5rem;
  }
}
/* xps-container -------------------------------------------------------------------------- */
@media screen and (max-width: 767px) {
  #xps-container .row-first nav {
    display: none;
  }
  #xps-container .row-second .col-first {
    margin-top: 0.5rem !important;
  }
  #xps-container .row-second .col-first .card-body {
    padding: 0.2rem;
  }
}

/*# sourceMappingURL=main.css.map */
