/* profile-container -------------------------------------------------------------------------- */
#profile-container {
  .profile-img {
    display: flex;
    justify-content: center;

    .profile-img-txt {
      align-items: center;
      background: $light_grey;
      border: 5px solid $dark_grey;
      border-radius: 50%;
      display: flex;
      height: 100px;
      justify-content: center;
      text-align: center;
      width: 100px;

      span {
        color: #fff;
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #profile-container {
    .row-first {
      nav {
        display: none;
      }
    }

    .row-second {
      .col-first {
        margin-top: .5rem !important;

        .card-body {
          padding: 1rem;

          .list-group-item:last-child {
            .profile-bmi {
              text-align: right;
            }
          }
        }
      }

      .col-second {
        .list-group-item:last-child {
          padding: 0;
          padding-top: 1rem;
        }
      }
    }

    .row:nth-child(2) {


      .col-lg-8 {
        margin-top: 1rem !important;
      }
    }
  }
}