/*
    Author      : Ashish S. Maharjan
    Author URI  : https://github.com/asis2016/
    Description : This theme is designed for Gesund App.
*/

@media screen and (max-width: 767px) {

  /* top-navigation -------------------------------------------------------------------------- */
  #top-navigation-sm {
    background-color: $light_grey;
    height: 3rem;
    color: #cbcbcb;
    border-bottom: 1px solid rgb(54 61 71 / 10%);
    padding: 0 1rem;

    #menu i, .fa-crown, .fa-bolt, #menu-profile .fa-circle-user {
      font-size: 1.3rem;
      color: #cbcbcb;
    }

    .active i {
      color: #FFFFFF !important;
    }

    #menu-profile {
      .dropdown-menu {
        min-width: 200px !important;
      }

      .dropdown-menu[data-bs-popper] {
        right: 0 !important;
        left: unset !important;
      }
    }


  }

  #top-nagivation-lg {
    display: none;
  }

  #ui-datepicker-div {
    font-size: 12px;
  }

  .btn-secondary.disabled:hover {
    cursor: crosshair;
  }

}

@media screen and (min-width: 768px) {

  .go-back-sm {
    display: none;
  }

  #calories-container {
    // Add.html
    &.calories-container-add {
      .card {
        .go-back-sm {
          display: none;
        }
      }
    }
  }

  //Top navigation
  #top-navigation-sm {
    display: none;
  }

  #sidebar-sm {
    display: none !important;
  }

  #steps-container {
    // Add.html
    &.steps-container-add {
      .card {
        .go-back-sm {
          display: none;
        }
      }
    }
  }

  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}