{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div class="container-fluid pomodoro-container-add" id="pomodoro-container">
        <!-- .row-first -->
        <div class="row row-first">
            <div class="col-lg-12 col-first">
                <div class="col-page-header">
                    <h2>Pomodoro</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'pomodoro-index' %}">Pomodoro</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Add pomodoro
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <!-- ends .row-first -->

        <!-- .row-second -->
        <div class="row row-second">
            <div class="col-lg-6 mt-4">

                <div class="pomodoro-alert">
                </div>

                <div class="card pomodoro-card">
                    <div class="card-header card-header-menu">
                        Add your pomodoro
                    </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {# main > countdown #}
                        <div class="form-group row mt-2 form-group-main">
                            <label class="col-sm-4 col-form-label">
                                Countdown
                            </label>
                            <div class="col-sm-6 col-main">
                                <div id="main"
                                     style="background: url({% static 'images/tomato.png' %}) no-repeat center; background-size: contain;">
                                    <div id="countdown"></div>
                                </div>
                            </div>
                        </div>

                        {# Remarks #}
                        <div class="form-group row form-group-remarks">
                            <label class="col-sm-4 col-form-label"
                                   for="id_remarks">
                                Remarks
                            </label>
                            <div class="col-sm-6">
                                    <textarea class="form-control"
                                              name="remarks"
                                              id="id_remarks"
                                              rows="2"
                                              placeholder="What are you working on?"
                                              required></textarea>
                            </div>
                        </div>

                        {# Action buttons #}
                        <div class="form-group row mt-3 form-group-action">
                            <div class="col-sm-6 col-action">
                                <button id="start" class="btn">
                                    <i class="fa-solid fa-play"></i>
                                </button>
                                <button id="pause" class="btn" disabled>
                                    <i class="fa-solid fa-pause"></i>
                                </button>
                                <button id="stop" class="btn" disabled>
                                    <i class="fa-solid fa-stop"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <!-- go back -->
                        <a class="float-end go-back-to-list go-back-lg"
                           href="{% url 'pomodoro-index' %}">
                            Go back to the pomodoro list
                        </a>
                        <a class="btn btn-secondary go-back-sm"
                           href="{% url 'pomodoro-index' %}">
                            <i class="fa-solid fa-angle-left"></i>
                            <span class="p-2">Go back</span>
                        </a>
                        <!-- go back ends -->
                    </div>
                </div>
            </div>
        </div>
        <!-- ends .row-second -->

        <div class="spacer mb-4"></div>
    </div>
{% endblock main %}

{% block scripts %}
    <script>
        {% include './add_pomodoro.js' %}
    </script>
{% endblock scripts %}