{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div class="container-fluid pomodoro-container-add" id="pomodoro-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-page-header">
                    <h2 data-bs-toggle="modal" data-bs-target="#pomodoro-info-modal">
                        Pomodoro <i class="fa-solid fa-circle-info"></i>
                    </h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="#">Pomodoro</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Add pomodoro
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 mt-4">

                <div class="pomodoro-alert">
                </div>

                <div class="card pomodoro-card">
                    <div class="card-header card-header-menu">
                        Add your pomodoro
                    </div>
                    <div class="card-body">
                        <div>
                            {% csrf_token %}
                            <div id="main" class="mb-3">
                                <div id="countdown"></div>
                            </div>
                            <button id="start" class="btn">
                                <i class="fa-solid fa-play"></i>
                            </button>
                            <button id="pause" class="btn" disabled>
                                <i class="fa-solid fa-pause"></i>
                            </button>
                            <button id="stop" class="btn" disabled>
                                <i class="fa-solid fa-stop"></i>
                            </button>
                        </div>

                    </div>
                    <div class="card-footer">
                        <!-- go back -->
                        <a class="float-end go-back-to-list go-back-lg"
                           href="{% url 'pomodoro-index' %}">
                            Go back to the pomodoro list
                        </a>
                        <a class="btn btn-secondary go-back-sm"
                           href="{% url 'pomodoro-index' %}">
                            <i class="fa-solid fa-angle-left"></i>
                            <span class="p-2">Go back</span>
                        </a>
                        <!-- go back ends -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    {% include './modal_pomodoro_info.html' %}
{% endblock main %}

{% block scripts %}
    <script>
        {% include './add_pomodoro.js' %}
    </script>
{% endblock scripts %}