{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div class="container-fluid" id="weight-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-page-header">
                    <h2>Pomodoro</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Update pomodoro</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header card-header-menu">
                        Update your pomodoro
                    </div>
                    <form method="POST">
                        <div class="card-body">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    {{ form.errors }}
                                </div>
                            {% endif %}
                            <!-- datestamp -->
                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label" for="id_datestamp">
                                    Datestamp
                                </label>
                                <div class="col-sm-6">
                                    <input class="form-control"
                                           id="id_datestamp"
                                           name="datestamp"
                                           type="text"
                                           value="{{ pomodoro_obj.datestamp|date:"Y-m-d" }}">
                                </div>
                            </div>
                            <!-- pomodoro in minutes -->
                            <div class="form-group row mt-3">
                                <label class="col-sm-4 col-form-label"
                                       for="id_pomodoro_minutes">
                                    Pomodoro (in minutes) taken
                                </label>
                                <div class="col-sm-6">
                                    <input autocomplete="off"
                                           class="form-control"
                                           id="id_pomodoro_minutes"
                                           name="pomodoro_minutes"
                                           placeholder="1.0"
                                           type="number"
                                           required
                                           step="any"
                                           value="{{ pomodoro_obj.pomodoro_minutes }}">
                                </div>
                            </div>
                            <!-- breaks in minutes -->
                            <div class="form-group row mt-3">
                                <label class="col-sm-4 col-form-label"
                                       for="id_break_minutes">
                                    Break (in minutes) taken
                                </label>
                                <div class="col-sm-6">
                                    <input autocomplete="off"
                                           class="form-control"
                                           id="id_break_minutes"
                                           name="break_minutes"
                                           placeholder="1.0"
                                           type="number"
                                           required
                                           step="any"
                                           value="{{ pomodoro_obj.break_minutes }}">
                                </div>
                            </div>
                            <!-- remarks -->
                            <div class="form-group row mt-3">
                                <label class="col-sm-4 col-form-label"
                                       for="id_remarks">
                                    Remarks
                                </label>
                                <div class="col-sm-6">
                                    <textarea class="form-control"
                                              name="remarks"
                                              cols="40"
                                              rows="10"
                                              id="id_remarks">{{ pomodoro_obj.remarks }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-secondary" type="submit">
                                <i class="fa-solid fa-pen-to-square"></i>
                                <span class="p-2">Update changes</span>
                            </button>
                            <a class="float-end" href="{% url 'pomodoros-index' %}">
                                Go back to the pomodoros list
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}