<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <style>
        #gesund-email-body h1 {
            font-size: 1.2rem;
            font-weight: bold;
        }

        #gesund-email-body p {
            line-height: 1.5rem;
        }

        #gesund-email-body ol li {
            font-weight: bold;
        }

        #gesund-email-body .spacer {
            height: 20px;
        }
    </style>
</head>
<body id="gesund-email-body">
<div class="body-wrapper">
    <p>
        <img src="https://gesund.amaharjan.online/static/images/logo.png"
             height="50px"
             alt="Gesund App logo">
    </p>
    <h1>
        Hi {{ username }}, welcome to Gesund App!
    </h1>
    <p>
        Thank you for signing up. Let's get started by following two steps below:
    </p>
    <p>
    <ol>
        <li>Goals</li>
        <p>In order for the app to work properly, you must update your <strong>Goals</strong>. Click the link below:</p>
        <p>
            <a href="https://gesund.amaharjan.online/goals/{{ user_id }}/update">
                https://gesund.amaharjan.online/goals/{{ user_id }}/update
            </a>
        </p>

        <li>Profile</li>
        <p>The app needs to calculate your BMI (Body Mass Index); therefore next step is to update your
            <strong>Profile</strong>. Click the link below:
        </p>
        <p>
            <a href="https://gesund.amaharjan.online/profile/{{ user_id }}/update/">
                https://gesund.amaharjan.online/profile/{{ user_id }}/update/
            </a>
        </p>
    </ol>
    </p>

    <p class="spacer"></p>

    <p>
        If you have any questions, feel free to message us at <a href="#">info@gesund.amaharjan.online</a>.
    </p>

    <p class="spacer"></p>

    <p>
        University of Koblenz and Landau <br>
        Universitätsstraße 1, 56070 Koblenz, Germany <br>
        <a href="https://www.uni-koblenz-landau.de/en">https://www.uni-koblenz-landau.de/en</a>
    </p>
    <p>
        {# todo: privacy policy link.#}
        <a href="#">Terms and condition</a> | <a href="#">Privacy policy</a>
    </p>
</div>
</body>
</html>