<div class="modal fade " id="xps-modal" tabindex="-1"
     aria-labelledby="xps-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    What is this?
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                The Experience Point (XP) is rewarded to you when you've successfully recorded your progress. E.g., one
                daily record of your steps equivalent to 1 XP. Furthermore, you are ranked amongst other participants
                based on your XPs on the leaderboard.
            </div>
        </div>
    </div>
</div>